# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/

# Hardhat
artifacts/
cache/
coverage/
coverage.json
typechain-types/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
